@using WebBanDoDienTu.Models
@model IEnumerable<CategoryModel>

@{
    ViewData["Title"] = "Category Listed"; // Thiết lập tiêu đề cho trang
}

<h3>@ViewData["Title"]</h3> <!-- Hiển thị tiêu đề trang -->
<a asp-action="Create" asp-controller="Category" class="btn btn-primary">Add Category</a> <!-- Liên kết để thêm sản phẩm mới -->

<table class="table table-bordered">
    <!-- Tạo bảng có viền với Bootstrap -->
    <thead>
        <tr>
            <th scope="col">#</th> <!-- Số thứ tự -->
            <th scope="col">Category Name</th> <!-- Tên sản phẩm -->
            <th scope="col">Category Description</th> <!-- Mô tả sản phẩm -->
            
            <th scope="col">Category Slug</th> <!-- Slug sản phẩm -->
            <th scope="col">Category Status</th> <!-- Danh mục sản phẩm -->
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) // Lặp qua từng sản phẩm trong model
        {
            <tr>
                <th scope="row">@item.Id</th> <!-- Hiển thị ID sản phẩm -->
                <td>@item.Name</td> <!-- Hiển thị tên sản phẩm -->
                <td>@item.Description</td> <!-- Hiển thị mô tả sản phẩm -->
                
                <td>@item.Slug</td> <!-- Hiển thị slug sản phẩm -->
                <td>
                @if (@item.Status == 1)
                {
                   <span class=" text text-success">
                       Hiển thị
                   </span>
                }
                    else
                    {
                        <span class=" text text-danger">
                            Ẩn
                        </span>
                    }
                </td>
                
                <td>
                    <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="Category" asp-route-id="@item.Id">Edit</a> <!-- Liên kết để chỉnh sửa sản phẩm -->
                    <a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="Category" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this product?');">Delete</a> <!-- Liên kết để xóa sản phẩm kèm hộp thoại xác nhận -->
                </td>
            </tr>
        }
    </tbody>
</table>
